:root{
  --White: hsl(0, 0%, 100%);
  --Darkdesaturatedblue: hsl(236, 21%, 26%);
  --Verydarkblue: hsl(235, 16%, 14%);
  --Verydarkmostlyblackblue: hsl(234, 17%, 12%);
  --Grayishblue: hsl(237, 18%, 59%);
  --Softred: hsl(345, 95%, 68%);
}

@media(max-width:2560px){
  body{
    background-color: var(--Verydarkblue);
  }
  p{
    text-align: center;
    margin-top: 10vh;
    color: aliceblue;
  }
  .p{
    position:relative;
    top: 150px;
    font-weight: bolder;
    font-stretch: expanded;
    font-size: 25px;
  }
  
}
@media(max-width:1440px){
  
}
@media(max-width:1024px){
  
}
@media(max-width:768px){
  
}
@media(max-width:425px){
  .p{
    font-size: 25px;
    max-width: 80vw;
    margin-left: 10vw;
  }
}
